/.phpunit.cache
/node_modules
/public/hot
/public/pdfs
/vendor
.env
/public/backend/assets/uploaded-files
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.log
*.zip
*.iml
